<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the Twitlike at the
  <a href="http://railstutorial.org/help">Twitlike help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Twitlike book</a>.
</p>
